.img-group {
  display: flex;
  gap: 20px;
  align-items: center;
}
.img-group img {
  width: 50px;
}
.icones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.group-geral {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: rgb(15, 174, 15);
}
.texto {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
}
.imagem-mulher {
  display: flex;
  align-items: center;
}
