* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

div {
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";

  max-width: 300px;
  margin: auto;
  padding: 10px;

  text-align: center;
}

div.fonte {
  font-family: "Times New Roman", Times, serif;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

label {
  display: block;
  font-size: 14px;
  text-align: left;
}

input,
select {
  width: 100%;
}
