.colunas {
  display: flex;
  justify-content: space-between;
  background: rgb(173, 202, 241);
}

.imagem {
  width: 500px;
}
.text {
  display: flex;
  align-items: center;
}

.texto {
  background: white;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #070755;
  border-radius: 0px 80px 80px 0px;
  padding: 20px 20px;
  width: 300px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  margin: 0px;
}

b {
  font-weight: 700;
}
.icone {
  background: #070755;
  padding: 10px;
  width: 50px;
}

.aviao {
  border-radius: 10px 0px 0px 0px;
}

.carta {
  border-radius: 0px 0px 0px 10px;
}

.icones {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0px;
  top: calc(50% - 80px);
  gap: 5px;
  transition: all 0.6s;
}
.icone:hover {
  background: rgb(173, 202, 241);
}

.box-texto {
  position: absolute;
  right: 70px;
  top: 0px;
  background-color: rgb(135, 202, 249);
  width: 200px;
  padding: 18px;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.6s;
}
.icones-group {
  position: relative;
}
.icones-group:hover .box-texto {
  opacity: 1;
}
.marcador {
  background-color: rgb(135, 202, 249);
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  top: calc(50% - 10px);
  transform: rotate(45deg);
}
